body {
	width: 1360px;
	height: 2068px;
}
.top {
	display: grid;
	grid-template-columns: 9% 1fr 0.6fr;
	grid-template-rows: 20% 20% 20%;
	height: 450px;
}
.head {
	display: flex;
	margin-top: 61px;
	margin-left: 126px;
}
.home {
	width: 600px;
	display: flex;
	justify-content: start;
	align-items: center;
}
.headbutton {
	width: 500px;
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 29px;
}
.section1 {
	width: 495px;
	height: 130px;
	margin-top: 100px;
	grid-column-start: 2;
	grid-row-start: 1;
}
.title1 {
	display: inline-block;
	width: 495px;
	height: 130px;
}
.p1 {
	width: 635px;
	height: 222px;
	display: inline-block;
	grid-column-start: 2;
	grid-row-start: 3;
}
.p1-1 {
	width: 635px;
	height: 222px;
}
.details1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 335px;
	height: 343px;
	grid-column-start: 3;
	grid-row-start: 2;
}
.details2 {
	border-bottom: 2px solid grey;
	padding: 2px;
}
.details3 {
	border-bottom: 2px solid grey;
	padding: 2px;
}
.section2 {
	display: flex;
	justify-content: center;
}
.p2 {
	display: flex;
	justify-content: center;
	margin-top: 45px;
}
.p2-1 {
	width: 1109px;
}
.img2 {
	display: flex;
	justify-content: center;
	margin-top: 45px;
}
.img2-2 {
	margin-left: 30px;
	margin-right: 30px;
}
.footer {
	display: flex;
	width: 1110px;
	height: 23px;
	margin-left: 126px;
	margin-top: 132px;
}
.footer-title {
	width: 850px;
	display: flex;
	align-items: flex-start;
}
.footer-links {
	width: 200px;
}
.footer-icons {
	width: 210px;
	height: 15px;
	display: flex;
	justify-content: end;
}
.instagram {
	margin-left: 23px;
	margin-right: 23px;
}
.contact {
	margin-left: 30px;
}
