body {
	width: 1360px;
	height: 2068px;
}
.head {
	display: flex;
	margin-top: 61px;
	margin-left: 126px;
}
.home {
	width: 600px;
	display: flex;
	justify-content: start;
	align-items: center;
}
.headbutton {
	width: 500px;
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 29px;
}
a {
	&.button1 {
		justify-self: end;
	}
	&.button2 {
		justify-content: flex-end;
	}
}
.container1 {
	display: grid;
	grid-template-columns: 9% 20% 50% 50% 30%;
	grid-template-rows: 20% 20% 20% 20% 20% 20%;
}
.text-box1 {
	width: 635px;
	height: 251px;
	grid-column: 2 / 4;
	grid-row-start: 3;
}
.tbox1-right {
	width: 212px;
	height: 34px;
	grid-column-start: 4;
	grid-row-start: 6;
	font-family: 'Mulish';
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: #111111;
	mix-blend-mode: normal;
	opacity: 0.6;
}
.text1 {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 28px;
	letter-spacing: -0.423077px;
	color: #4a4ff2;
}
.text2 {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 700px;
	font-size: 40px;
	line-height: 60px;
	float: right;
	height: 148px;
}
.text2b {
	width: 402px;
	height: 251px;
	display: inline-block;
}
.grid {
	width: 1360px;
	height: 1960px;
	display: flex;
	margin-top: 150px;
}
.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 30px;
}
.column {
	flex: 30%;
	padding: 20px;
	max-width: 26%;
	max-height: 26%;
}
.container2 {
	width: 1079px;
	height: 106px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-left: 117px;
	margin-top: 91px;
}
.text3 {
	width: 635px;
	height: 106px;
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 38px;
	color: #111111;
}
.details {
	width: 444px;
	height: 106px;
	display: grid;
	grid-template-columns: 130px 130px;
	grid-template-rows: 23px 23px 23px 23px 23px;
}
.details4 {
	.details5 {
		margin-top: 10px;
	}
}
.grid-placement {
	width: 1360px;
	height: 411.5px;
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.grid-container {
	display: grid;
	grid-template-columns: 354px 285px 190px 121px 39px;
	grid-template-rows: 50px 110px 80px;
	border-top: 4px solid grey;
}
.grid-container2 {
	display: grid;
	grid-template-columns: 354px 285px 190px 121px 39px;
	grid-template-rows: 50px 110px 80px;
	border-top: 4px solid grey;
	border-bottom: 4px solid grey;
}
.g1 {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}
.g2 {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}
.g3 {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}
.g4 {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}
.g5 {
	grid-column: 3 / 4;
	grid-row: 3 / 4;
}
.g2018-1 {
	grid-column: 5 / 6;
	grid-row: 2 / 3;
}
.g2018-2 {
	grid-column: 5 / 6;
	grid-row: 3 / 4;
}
.section4 {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.footer {
	display: flex;
	width: 1110px;
	height: 23px;
	margin-left: 126px;
	margin-top: 132px;
}
.footer-title {
	width: 850px;
	display: flex;
	align-items: flex-start;
}
.footer-links {
	width: 200px;
}
.footer-icons {
	width: 210px;
	height: 15px;
	display: flex;
	justify-content: end;
}
.instagram {
	margin-left: 23px;
	margin-right: 23px;
}
.contact {
	margin-left: 30px;
}
